<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/CSS/styles-index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="icon" type="image/x-icon" href="/static/icons/lydre.png">
<link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
<meta name="description" content="Lydre. Une Communauté fondée sur l'Intelligence Collective.">
<meta name="author" content="Lydre.">
<meta name="theme-color" content="#07920e">
<!-- Métadonnées -->
<meta property="og:site_name" content="Lydre.">
<meta property="og:title" content="Communauté puissante.">
<meta property="og:description" content="Lydre. Une Communauté fondée sur l'Intelligence Collective.">
<meta property="og:type" content="website">
<meta property="og:keywords" content="communauté, puissance, intelligence, union, commun, projets, minecraft, collective, collectivité, groupe, group, Lydre, Poitou, alliance">
<meta property="og:url" content="lydre.onrender.com">
<meta property="og:locale" content="fr_FR">

    <title>Lydre</title>
    <script>
        // Script inline pour éviter le flash de 0.05s
        (function() {
            const darkMode = localStorage.getItem("dark-mode");
            console.log(darkMode)
            if (darkMode === "enabled") {
                document.documentElement.classList.add("dark-mode");
            }
        })();
        </script>
</head>
<body>
    <div class="header">
        <img src="/static/icons/lydre.png" alt="">
        <h1>Lydre</h1>
        <button id="darkmode_button">◐</button>
    </div>
    <div class="main-div">
        <h2>Bienvenue sur le site officiel de Lydre!</h2>
        <div class="section" id="first-section">
            <div class="section-text-part">
                <h3>Lydre : Une communauté fondée sur l'intelligence collective</h3>
                <p>Lydre est une communauté web innovante, souvent représentée par un dragon à six couleurs. Ce symbole reflète son concept central : une intelligence collective où chaque membre participe à l'enrichissement du groupe. Son objectif principal est de valoriser les projets de ses membres, qu'ils soient personnels ou collaboratifs, en offrant des plateformes de communication pour partager et gagner en visibilité. Lydre cherche à rassembler des créateurs de contenu de tous horizons, qu'il s'agisse de développement logiciel, d'arts graphiques, ou encore de gestion de jeux vidéo.</p>
            </div>
            <div class="section-img-part">
                <img src="/static/icons/lydre_logo_2.png" alt="">
            </div>
        </div>
        <div class="section" id="first-section">
            <div class="section-img-part">
                <img src="/static/icons/lydre_logo_1.png" alt="">
            </div>
            <div class="section-text-part">
                <h3>Création et collaboration au service des projets</h3>
                <p>Organisée en équipes thématiques, Lydre encourage la création de contenu et la collaboration au sein de différents projets. Ces équipes se concentrent sur des domaines spécifiques comme le développement web, les jeux vidéo, l'audiovisuel, ou encore les arts visuels. Chaque groupe contribue également à alimenter un Lore fictif propre à la communauté. Ce Lore est incarné par une entité nommée "Lydre", représentant l'ensemble des membres comme une seule entité collective. En plus des projets communautaires, certains éléments de ce Lore prennent vie à travers des serveurs Minecraft RP, renforçant l'immersion dans cet univers.</p>
            </div>
        </div>
        <div class="section" id="first-section">
            <div class="section-text-part">
                <h3>Système de rôles et de hiérarchie collaboratif</h3>
                <p>Les membres de la communauté progressent selon un système de rôles en fonction de leur implication, de leur maîtrise des outils et de leur contribution. Ce système de progression favorise l’engagement tout en restant centré sur la collaboration. Bien que la communauté fonctionne de manière égalitaire, elle est dirigée par un groupe restreint de coordinateurs appelés HexaLydres, eux-mêmes supervisés par un Lydre Suprême. Ce dernier, bien qu'ayant le dernier mot sur les grandes décisions, reste un membre actif au sein de la communauté. Ensemble, ces rôles permettent à Lydre de fonctionner de manière structurée, tout en valorisant l'intelligence collective.</p>
            </div>
            <div class="section-img-part">
                <img src="/static/icons/lydre.png" alt="">
            </div>
        </div>
</div>
<br>

<!--
<div class="pumpkin"></div>
<hr>
<h3>Infos Sympathiques</h3>
<p style="font-size: 20px; width: 80%; margin:auto;">     <b>Pass Piscines & Patinoire :</b> Poitiers propose un pass destinés aux étudiants. Il suit un système de points : 50 points (17.40euros) = 4.5 entrées à la patinoire (location de patins incluse) ou environ 10 entrées à la piscine.</p>

<br>
<hr>
<h3>Fiches de révision</h3>
<p style="font-size: 20px; width: 80%; margin:auto;">Personne n'a partagé de fiches pour le moment.</p>

    
 
<br>
<hr>-->
<div class="links-container">
        <a href="https://www.youtube.com/@lydre" target="_blank" class="link">
            <img src="/static/icons/youtube.png" alt="">
            <h5>Lydre</h5>
        </a>

        <a href="https://www.instagram.com/the_lydre_off/" target="_blank" class="link">
            <img src="/static/icons/instagram.png" alt="">
            <h5>the_lydre_off</h5>
        </a>
    </div>
</div>
<div class="footer">
    <img src="/static/icons/lydre.png" alt="">
<p style="margin:auto;"><i>Service proposé par Lydre.</i></p>
</div>
<script src="static/JS/index.js"></script>
</body>
</html>
